/* CSS default */

*{
    font-family: cursive;
    margin: 0%;
    padding: 0%;
}

/* header styles */


header div{
    text-align: center;
    background-color: red;
    padding: 20px 20px;

}

header div h1#mainheading{
    color: white;
    border:solid   white  4px;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    
}
header div.nav-bar{
    background-color: gray;
}

header div.nav-bar a.navbar-link{
    color: white;
    margin: 100px;
    text-decoration: none;
}

main img{
    width: 100%;
border-bottom: red solid 4px;
}

main div.main-content{
    background-color: white;
}

main div.main-content h1{
    color: red;

}

main div.main-content p{
    padding: 0px 40px ;
    text-align: justify;
    line-height: 30px;
    font-size: 60px;
}

footer h5.copyright{
    margin-top: 20px;
background-color: gray;
padding: 10px 10px;
text-align: center;
color: white;
}

main h1 {
    color: red;
    text-align: center;
    margin: 20px 0px;
}


main div.gallery_pictures div{
    display: flex;
    justify-content: center;
  

}

main div.gallery_pictures div img.gallery-picture{
    width: 500px;
    height: 300px;
    margin: 10px 10px;
}

main div.friend_info div.friend{
    border-radius: 5px;
    width: 1000px;
    text-align: center;
}

